.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b2dfdb;
  padding: 25px;
  overflow-y: auto;
}

.box {
  position: relative;
  min-width: 800px;
  max-width: 800px;
  height: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation-name: 'app__arrival';
  animation-duration: 0.3s;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #009688;
  height: 40px;
  line-height: 40px;
}

.back__arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: #039be5;
  }
}

.name__row {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.name__input {
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 32px;
  text-align: center;
  transition: all 0.3s ease-out;

  &:focus {
    border-bottom: 2px solid #039be5;
  }
}

.character__box__horizontal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.horizontal__section__stats {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.horizontal__section__descr {
  flex: 1 1 60%;
  height: 50%;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 5px;
}

.stat__row {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 24px;
}

.stat__row__stat {
  cursor: pointer;

  &:hover {
    color: #039be5;
  }
}

.stat__row__value {
  align-self: flex-end;
  width: 100px;
  max-width: 100px;
  height: 40px;
}

.stat__row__points {
  cursor: pointer;
  color: #009688;
}

.origin__section {
  width: 50%;
  min-height: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.final__section {
  width: 50%;
  min-height: 30%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding-right: 10px;
}

.export__btn {
  composes: transition__one from '../../app_wrapper/app.css';
  background-color: #009688;
  color: #fff;
  width: 195px;
  height: 40px;
  line-height: 40px;
  flex-grow: 0;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #00695c;
  }

  &.disabled {
    color: #333;
    background-color: #b0bec5;
  }
}

.import__btn {
  composes: transition__one from '../../app_wrapper/app.css';
  background-color: #2196f3;
  color: #fff;
  width: 195px;
  height: 40px;
  line-height: 40px;
  flex-grow: 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #1565c0;
  }
}

.start__btn {
  composes: transition__one from '../../app_wrapper/app.css';
  color: #fff;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #4caf50;

  &:hover {
    background-color: #388e3c;
  }

  &.disabled {
    color: #333;
    background-color: #b0bec5;
  }
}
