.stat__row {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 24px;
}

.stat__row__stat {
  cursor: pointer;

  &:hover {
    color: #039be5;
  }
}

.stat__row__value {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  align-self: flex-end;
  width: 100px;
  max-width: 100px;
  height: 40px;
}

.stat__number {
  margin-right: 15px;
  width: 35px;
}

.icon__plus {
  flex-grow: 0;
  color: #4caf50;
  cursor: pointer;
  
  &:hover {
    color: #388e3c;
  }
}

.icon__minus {
  flex-grow: 0;
  color: #2196f3;
  cursor: pointer;

  &:hover {
    color: #1565c0;
  }
}