html { font-size: 16px; }

body {
  line-height: 1.42857;
  color: #333;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

html,
body,
.react__wrapper,
.app__vertical__wrapper,
.app__horizontal__wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

i {
  user-select: none;
}

h2,
h3,
h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Shared animations and visual effects */
.transition__one {
  transition: all 0.1s ease-out;
}

@keyframes :global(arrival) {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Shared UI styles */

.dark__overlay{
  z-index: 9000;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__teal {
  background-color: #009688;
  color: #fff;
  min-width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  line-height: 40px;
  flex-grow: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: #00695c;
  }

  &.disabled {
    color: #333;
    background-color: #b0bec5;
  }
}

.btn__blue {
  background-color: #2196f3;
  color: #fff;
  min-width: 100px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 40px;
  flex-grow: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: #1565c0;
  }
}
