html { font-size: 16px; }

body {
  line-height: 1.42857;
  color: #333;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

html,
body,
.react__wrapper,
.app__vertical__wrapper,
.app__horizontal__wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

i {
  user-select: none;
}

h2,
h3,
h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.transition__one {
  transition: all 0.1s ease-out;
}

@keyframes :global(arrival) {
  from { opacity: 0; }
  to { opacity: 1; }
}
